.resume {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin: 40px 0;
  min-height: 11in;
  max-width: 8.5in;
  position: relative;
}

.submit {
  align-self: center;
  color: white;
  background-color: #21a521;
  position: absolute;
  bottom: 20px;
}

@media (min-width: 500px) {
  .resume {
    padding: 1in;
  }
}
